h1{
  font-size: 45px;
  color: orange
}
.hname{
  font-size: 30px;
}
img{
  width: 100%;
}
.half{
  width :40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.hire{
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  color: white ;
  font-weight: 700;
  border-radius: 6px;
}
.head{
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  height: 500px;
}
.pix{
  padding: 60px 0px 60px 60px;
}
h2{
  font-size: 40px;
}
.div-pix{
  padding: 80px 20px;
}
.Biography-bg{
  background-image: url(img/biography-bg.png);
  height: 500px;
}
.img-w{
  width: 30%;
  float: left;
  padding-left: 3%
}
.img-s{
  margin: 100px;
  background-image: url(img/latest-work-bg.png)
}
.work{
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
