body {
    font-size: 15pt;
    font-family: 'Lato', sans-serif;
}
h1{
  color: deeppink;
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.half{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
img{
  width: 100%;
}
.header{
  background-image: url(img/header-bg.png);
}
section{
  height: 500px;
}
.Biography{
  background-image: url(img/biography-bg.png);
}
.about{
  text-decoration: none;
  background-image: linear-gradient(45deg, deeppink, Fuchsia);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
}
.another-half{
  width: 30%;
  float: left;
}